@mixin rounded-scrollbar($color: var(--grey-30), $background-color: white, $border-width: 3px) {
  scrollbar-color: $color;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border: $border-width solid $background-color;
    border-radius: 10px;
  }
}

@mixin button-focus($color: black) {
  &:focus-visible {
    outline: 2px solid $color;
    outline-offset: 2px;
  }
}
