@mixin rounded-scrollbar($color: var(--grey-30), $background-color: white, $border-width: 3px) {
  scrollbar-color: $color;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border: $border-width solid $background-color;
    border-radius: 10px;
  }

  @-moz-document url-prefix() {
    scrollbar-width: thin;
    scrollbar-color: $color $background-color;
  }
}

@mixin focus-outline($color: black, $isAppliedDirectly: false) {
  @if $isAppliedDirectly == true {
    outline: 2px solid $color;
    outline-offset: 2px;
  } @else {
    &:focus-visible {
      outline: 2px solid $color;
      outline-offset: 2px;
    }
  }
}
