@import 'transitions';

body {
  background: var(--background-colour);
  font-size: var(--16px);
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: var(--text-colour);

  ::selection {
    background-color: var(--grey-10);
  }
}

.panel {
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--subtle-box-shadow);
  padding: 2rem;
}

input,
textarea {
  border: 2px solid var(--grey-20);
  border-radius: var(--10px);
  padding: var(--18px) var(--20px);
  resize: none;
  font-size: var(--16px);
  transition: border-color 0.2s ease-out;
  outline: none;
  width: 100%;
  color: inherit;

  &::placeholder {
    color: var(--grey-50);
  }

  &:focus {
    border-color: var(--primary-colour);
  }

  &.md {
    padding: var(--14px) var(--16px);
    font-size: var(--14px);
  }

  &.sm {
    padding: var(--10px) var(--12px);
    font-size: var(--14px);
  }
}
