@import 'transitions';
@import 'mixins/form';

body {
  background: var(--background-colour);
  font-size: var(--16px);
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: var(--text-colour);

  ::selection {
    background-color: var(--grey-10);
  }
}

.panel {
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--subtle-box-shadow);
  padding: 2rem;
}

input,
textarea {
  @include form-input(lg);

  &.md {
    @include form-input(md);
  }

  &.sm {
    @include form-input(sm);
  }
}
