:root {
  //--- Colours
  --primary-colour: #3ea1d9;
  --green: #68b15c;
  --yellow: #f0c65b;

  --background-colour: #dff7ff;

  //--- Fonts
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  //--- Sizes
  --10px: 0.625rem;
  --12px: 0.75rem;
  --14px: 0.875rem;
  --16px: 1rem;
  --18px: 1.125rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --32px: 2rem;
}
