:root {
  //--- Colours
  --primary-colour: #3ea1d9;
  --green: #68b15c;
  --yellow: #f0c65b;
  --grey-0: #ffffff;
  --grey-5: #fafbfc;
  --grey-10: #f5f6f7;
  --grey-15: #f0f1f2;
  --grey-20: #e9ebed;
  --grey-25: #e2e4e8;
  --grey-30: #dadce0;
  --grey-35: #d1d3d7;
  --grey-40: #c7c9ce;
  --grey-45: #bcbec4;
  --grey-50: #b0b3ba;
  --grey-55: #a3a6ad;
  --grey-60: #9699a1;
  --grey-65: #888b94;
  --grey-70: #797c86;
  --grey-75: #6a6d78;
  --grey-80: #5a5d68;
  --grey-85: #494c57;
  --grey-90: #373a45;
  --grey-95: #23252e;
  --grey-100: #111217;

  --background-colour: #dff7ff;
  --text-colour: var(--grey-100);

  //--- Fonts
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  //--- Sizes
  --10px: 0.625rem;
  --12px: 0.75rem;
  --14px: 0.875rem;
  --16px: 1rem;
  --18px: 1.125rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --32px: 2rem;
}
